#saved-swatches {
  .havent-any {
    @extend %hidden;
  }
}

#saved-swatches[data-empty] {
  .havent-any {
    display:block;
  }
  .youve-saved {
    @extend %hidden;
  }
}

.swatches {
  @extend %flexible;
  list-style-type:none;
  padding:0;
  justify-content:center;
  label {
    @extend %topMost;
    @extend %absolute-corners;
    @extend %clickable;
  }

  input[type="radio"] {
    @extend %topMost;
    @extend %absolute-corners;
    @extend %clickable;
    @extend %no-apperance;
    &:checked:focus + label {
      @extend %checked-label;
    }
  }

  > * {
    @extend %relative;
    min-height:2em;
    max-width:2em;
    flex:0 0 2em;
    //outline:1px solid white;
    margin-right:1px;
    margin-bottom:1px;
  }
}
