<div class="shortcuts widget">
  <div class="neat container">
    <div aria-hidden="true" class="svg-icon">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="svg-icon__svg"><use xlink:href="assets/img/sprite{% if production %}.min{% endif %}.svg#icon-keyboard"></use></svg>
    </div>
    <h2>Keyboard Shortcuts</h2>
    <p>
      Keyboard users can use the <code>Control&nbsp;+&nbsp;a</code> shortcut to select all&nbsp;cells and the <code>Control&nbsp;+&nbsp;i</code> shortcut to invert the current&nbsp;selection.
    </p>
    <p>
      Mouse users can click a cell, hold the <code>Alt/Option</code> key, and click another cell to range select. Firefox users use the 's'&nbsp;key.
    </p>
  </div>
</div>
