<section id="cell-grid" class="single">
  <div id="cell-grid__container" class="container">
    <header>
      <div class="svg-preview">
        {% include 'favicon-preview.twig' with cells %}
      </div>

    </header>
    <div class="canpx">
      <h3>Fill Selected Cells</h3>
      <p class="instructions">
        Fill the selected cells above with the color you input&nbsp;below.
      </p>
      <div>
        <label for="fill-cells-on-click">
          <input type="checkbox" id="fill-cells-on-click" name="fill-cells-on-click" value="1" checked>
           Fill Cells on Click
        </label>
      </div>
      <p class="unaligned">
        <button id="fill-selected-cells" disabled>Fill Selected Cells</button>
      </p>
      <fieldset class="input-by-color">
        <legend>Input Color By:</legend>
        <div class="flexible">
          <div class="">
            <label for="input_color_by__text">Text:&nbsp;</label>
            <input checked type="radio" id="input_color_by__text" name="input_color_by" value="text" />
          </div>

          <div hidden class="color option"></div>

          <div class="">
            <label for="input_color_by__rgb">RGB Slider:&nbsp;</label>
            <input type="radio" id="input_color_by__rgb" name="input_color_by" value="rgb" />
          </div>
        </div>
      </fieldset>
      <fieldset class="">
        <legend>Fill Color:</legend>
        <div>
          <div class="flexible fieldset">
            <label for="input_color_by__text__color">Hex:</label>
            <input type="text" id="input_color_by__text__color" name="input_color_by__text__color" value="" placeholder="rebeccapurple" />
          </div>

          <div hidden class="colorpicker fieldset"></div>

          <hr>
          <fieldset class="rgb">
            <legend>RGB Slider:</legend>
            <div class="flexible fieldset">
              <label for="rgb_slider_r">Red:</label>
              <input type="range" min="0" max="255" step="1" id="rgb_slider_r" name="rgb_slider_r" value="255" />
            </div>

            <div class="flexible fieldset">
              <label for="rgb_slider_r">Green:</label>
              <input type="range" min="0" max="255" step="1" id="rgb_slider_g" name="rgb_slider_g" value="255" />
            </div>

            <div class="flexible fieldset">
              <label for="rgb_slider_r">Blue:</label>
              <input type="range" min="0" max="255" step="1" id="rgb_slider_b" name="rgb_slider_b" value="255" />
            </div>
          </fieldset>
          <fieldset>
            <legend>Transparency</legend>
            <div class="flexible fieldset">
              <label for="rgb_slider_a">Alpha:</label>
              <input type="range" min="0" max="1" step=".01" id="rgb_slider_a" name="rgb_slider_a" value="1" />
            </div>
          </fieldset>
        </div>
      </fieldset>
      <footer>
        <button no-js type="submit">Fill Selected Cells</button>
        <button no-js type="reset">Reset Form</button>
      </footer>
      <p id="start-over" class="balanced subtle"{% if not startOver %} hidden{% endif %}><a href="/">Start Over</a></p>
    </div>

  </div>
</section>
