<a aria-hidden download="favicon.svg" data-base-url="/make/favicon.svg" href="/make/favicon.svg?dl=1&{{ cellURL }}" title="Preview your Favicon as SVG">
  {% include 'svg-preview.twig' with cells %}
</a>
