{% include 'header.twig' with { loadStyles:true } %}
<body>
  <aside aria-hidden hidden id="alert-banner"></aside>
  <div id="page-wrapper">
    <aside class="bottom-bar">
      <div class="quick-start widget">
        <div class="neat container">
          <div class="svg-preview">
            {% include 'favicon-preview.twig' with cells %}
          </div>
          <h1>Make an <span aria-hidden="true">.</span>ICO <span a11y-hidden>Graphic</span></h1>
          <p>
            Just getting started?<br>Check out our <a href="/howto">quick start&nbsp;guide</a>.
          </p>
          <p>
            Using Adobe Photoshop?<br>Easily import a Photoshop document with our <a download="makeanico.jsx" href="/assets/js/extendscript/makeanico.jsx">MakeanIco&nbsp;ExtendScript</a>.
          </p>
          <p>Bookmark this page at anytime to save your&nbsp;proggress.</p>
        </div>
      </div>
      <div class="import widget">
        <form class="neat container" action="/png-coder" method="post" enctype="multipart/form-data">
          <div aria-hidden="true" class="svg-preview">
            <script>document.write('<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="svg-preview__svg"><use xlink:href="assets/img/sprite{% if production %}.min{% endif %}.svg#icon-import"></use></svg>')</script>
          </div>
          <h2 id="import">Import</h2>
          <p>Fancy a shortcut?<br>Upload a PNG, JPG, GIF, or SVG image and we'll generate a favicon from your&nbsp;image.<br>Your image will be scaled down and cropped as a 16x16 square so square aspect ratios work&nbsp;best.</p>
          <label for="pic">Upload a Picture</label>
          <input type="file" id="pic" name="pic" accept="image/*" />
          <div class="button-bar">
            <button type="submit" class="comfortable">Import</button>
          </div>
        </form>
      </div>

      {% if startOver %}
        {% include 'components/export.twig' %}
      {% else %}
        <div hidden id="lazy__export"></div>
      {% endif %}

      <div hidden id="lazy__swatches"></div>

      {% if startOver %}
        {% include 'components/keyboard.twig' %}
      {% else %}
        <div hidden id="lazy__keyboard"></div>
      {% endif %}
      
    </aside>
    <form id="makeanico" action="/" method="post">
    <div id="canvas">
      <div id="stage">
        <table cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th a11y-hidden><span>Row</span></th>
              {% for row in cells %}
                <th a11y-hidden>Column {{ loop.index0 }}</th>
              {% endfor %}
            </tr>
          </thead>
          <tbody>
            {% for row in cells %}
              <tr>
                <td a11y-hidden class="row-col">Row {{loop.index0}}</td>
                {% for cell in row %}
                  {% include 'cp-check-cell.twig' with cell %}
                {% endfor %}
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div>
      {% include 'cp-single-cell.twig' with {index:"0", row:"0", column:"0"} %}
    </div>
    </form>
  </div>
  <footer class="page-wrapper">
    <nav>
      <a href="mailto:" class="data-dependent"{% if not startOver %} hidden{% endif %}>Share this Icon</a>
      <a href="#">Read the Docs</a>
      <a href="https://github.com/jpdevries/makeanico">Source Code</a>
      <a href="mailto:contact@makeani.co?subject=Make%20an%20Ico">Contact Us</a>
    </nav>
  </footer>
  {% include 'scripts.twig' %}
</body>
</html>
