{% include 'header.twig' with { loadStyles:true, title:'MakeanIco Preferences' } %}
<link rel="stylesheet" href="assets/css/preferences{% if production %}.min{% endif %}.css">
<link rel="stylesheet" href="assets/css/preferences-page{% if production %}.min{% endif %}.css">
</head>
<body>
  <div id="page-wrapper">
    <header>
      <h1>Accessibility Preferences</h1>
    </header>
    <aside class="bottom-bar">
      <div class="font-size widget">
        <div class="neat container">
          <h2>Legibility</h2>
          <form method="post" aria-labeledby="fontsize__noscript">
            <noscript id="fontsize__noscript">Please Enable JavaScript in a modern browser to Use this&nbsp;Component</noscript>
            <fieldset>
              <legend id="fontsize__legend"><span a11y-hidden no-js>Enable JavaScript to </span><span a11y-hidden>Choose a </span>Font Size</legend>
              <div>
                <input type="radio" id="fontsize__regular" name="fontsize" value="regular" disabled checked>&ensp;<label for="fontsize__regular">Regular</label>
              </div>
              <div>
                <input type="radio" id="fontsize__large" name="fontsize" value="large" disabled>&ensp;<label for="fontsize__large">Large</label>
              </div>
              <div>
                <input type="radio" id="fontsize__xl" name="fontsize" value="xl" disabled>&ensp;<label for="fontsize__xl">Extra&ndash;Large</label>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="typeface widget">
        <div class="neat container">
          <h2>Typeface</h2>
          <form method="post" aria-labeledby="typeface__noscript">
            <noscript id="typeface__noscript">Please Enable JavaScript in a modern browser to Use this&nbsp;Component</noscript>
            <fieldset>
              <legend id="typeface__legend"><span a11y-hidden no-js>Enable JavaScript to </span><span a11y-hidden>Choose a </span>Typeface</legend>
              <div>
                <input type="radio" id="typeface__system" name="typeface" value="system" checked>&ensp;<label for="typeface__system">System</label>
              </div>
              <div>
                <input type="radio" id="typeface__opendyslexic" name="typeface" value="opendyslexic">&ensp;<label for="typeface__opendyslexic">OpenDyslexic</label>
              </div>
              <div>
                <input type="radio" id="typeface__opensans" name="typeface" value="opensans" disabled>&ensp;<label for="typeface__opensans">Open Sans</label>
              </div>
              <div>
                <input type="radio" id="typeface__raleway" name="typeface" value="raleway" disabled>&ensp;<label for="typeface__raleway">Raleway</label>
              </div>
              <div>
                <input type="radio" id="typeface__ubuntu" name="typeface" value="ubuntu" disabled>&ensp;<label for="typeface__ubuntu">Ubuntu</label>
              </div>
              <div>
                <input type="radio" id="typeface__fira" name="typeface" value="fira" disabled>&ensp;<label for="typeface__fira">Fira</label>
              </div>
              <div>
                <input type="radio" id="typeface__anonpro" name="typeface" value="anonpro" disabled>&ensp;<label for="typeface__anonpro">Anonymous Pro</label>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="contrast widget">
        <div class="neat container">
          <h2>Contrast</h2>
          <form method="post" aria-labeledby="contrast__noscript">
            <noscript id="contrast__noscript">Please Enable JavaScript in a modern browser to Use this&nbsp;Component</noscript>
            <fieldset>
              <legend id="contrast__legend"><span a11y-hidden no-js>Enable JavaScript to </span><span a11y-hidden>Choose a </span>Contrast Preference<span aria-hidden="true">s</span></legend>
              <div>
                <input type="radio" id="contrast__normal" name="contrast" value="normal" disabled checked>&ensp;<label for="contrast__normal">Normal</label>
              </div>
              <div>
                <input type="radio" id="contrast__highcontrast" name="contrast" value="highcontrast" disabled>&ensp;<label for="contrast__highcontrast">High Contrast</label>
              </div>
              <div>
                <input type="radio" id="contrast__auto" name="contrast" value="auto" disabled>&ensp;<label for="contrast__auto">Auto<span a11y-hidden>matic</span></label>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </aside>
  </div>
  <footer class="page-wrapper">
    <nav>
      <a href="/">Back to the App</a>
      <a href="https://github.com/jpdevries/makeanico">Source Code</a>
    </nav>
  </footer>
  <script>
    var mini = navigator.userAgent.indexOf('Opera Mini') !== -1,
    doEnhancments = document.addEventListener && !mini ? true : false,
    production = {% if production %}true{% else %}false{% endif %},
    min = '{% if production %}.min{% endif %}';
  </script>
  <script>
    NodeList.prototype.forEach = Array.prototype.forEach;

    document.querySelectorAll('[no-js]').forEach((element) => {element.remove()});

    if(supportsLocalStorage()) {
      document.write('<script src="/assets/js/preferences_contrastlisteners{% if production %}.min{% endif %}.js"><\/script>');
      document.write('<script src="/assets/js/preferences{% if production %}.min{% endif %}.js"><\/script>');
      document.write('<script src="/assets/js/preferences_listeners{% if production %}.min{% endif %}.js"><\/script>')
    }

    function supportsLocalStorage() {
      try {
        var s = false;
        localStorage.setItem('m','k');
        if(localStorage.getItem('m')) s = true;
        localStorage.removeItem('m');
      } catch(e) {}
      return s;
    }
  </script>
</body>
