<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="svg-preview__svg" viewBox="0 0 16 16">
  <title>Your Favicon</title>
  {% if includeArt|default(true) %}{% include 'components/art.twig' with cells %}{% endif %}
</svg>
