html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

/*
http://www.phase2technology.com/blog/exploring-maps-in-sass-3-3/
*/
#alert-banner {
  text-align: center; }

#alert-banner {
  background: green;
  padding: .5em;
  border: 1px solid #004300;
  border-left: none;
  border-right: none;
  color: white;
  font-size: 1.4em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  transition: top 240ms ease;
  transition-delay: 120ms; }
  #alert-banner[hidden] {
    top: -12em;
    display: block !important; }
  #alert-banner p {
    margin: 0;
    font-weight: normal; }
