html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

#stage, table, #stage input[type="checkbox"], #stage table {
  width: 100%; }

.button-bar a, #stage input[type="checkbox"], #stage input[type="checkbox"] + label, .widget.import button, .widget.import label[for="pic"], .widget.import .svg-preview__svg {
  cursor: pointer; }

#stage, .svg-preview, #cell-grid, .unaligned, #cell-grid h3, .async-btns, .canpx footer {
  text-align: center; }

#stage input[type="checkbox"], #stage input[type="checkbox"] + label {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

/*
http://www.phase2technology.com/blog/exploring-maps-in-sass-3-3/
*/
.accessibly-hidden {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  top: 0;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

.flexible {
  display: -ms-flexbox;
  display: flex; }

.neat.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .neat.container::after {
    clear: both;
    content: "";
    display: table; }

.container {
  padding: 1em; }

.widget > .container, footer, .widget.import button {
  text-align: center; }

#start-over a:hover, #start-over a:focus, #start-over a:active {
  color: #c90005; }

.container {
  background: white;
  border: 1px solid gainsboro; }

#cell-grid > *, #stage td {
  background: white;
  max-width: 30em; }
  #cell-grid > * header p, #stage td header p {
    text-align: center; }

#stage, table, #stage input[type="checkbox"] {
  height: 100%; }

#stage input[type="checkbox"], #stage input[type="checkbox"] + label {
  z-index: 99999; }

#cell-grid > * {
  padding: .5em .5em 1em .5em; }

html.do-transitions a.btn, html.do-transitions .widget.import button, .widget.import html.do-transitions button {
  transition: all 240ms ease; }

fieldset {
  border: 1px solid gainsboro; }

.svg-preview svg, #cell-grid > * {
  margin: 0 auto; }

body {
  margin: 0;
  font-family: sans-serif;
  background: #f0f0f0; }

fieldset.rgb {
  margin-top: 1em; }

fieldset .fieldset:last-of-type {
  margin-bottom: 0; }

hr {
  border: none;
  border-top: 1px solid gainsboro; }

a.heavy.btn, .widget.import button.heavy {
  background: darkgreen;
  border-color: #004500;
  color: white; }

a.btn, .widget.import button {
  font-family: BlinkMacSystemFont, sans-serif;
  color: black;
  color: buttontext;
  background: white;
  padding: 0.125em 0.375em 0.1875em;
  border-width: 1px;
  border-radius: 0.25em;
  border-style: solid;
  border-color: silver; }
  a.heavy.btn, .widget.import button.heavy {
    display: inline-block; }
    a.heavy[hidden].btn, .widget.import button.heavy[hidden] {
      display: none; }
    a.heavy.btn:focus, .widget.import button.heavy:focus, a.heavy.btn:active, .widget.import button.heavy:active, a.heavy.btn:hover, .widget.import button.heavy:hover {
      background: #004500;
      border-color: #002700; }
  a.comfortable.btn, .widget.import button.comfortable, a.comforatbly.btn, .widget.import button.comforatbly {
    padding: .5em 1em; }

nav.button-bar {
  padding: 1em 0; }

a.btn {
  text-decoration: none; }

.download-as {
  font-size: 13px; }

.button-bar {
  font-size: 13px; }
  .button-bar label {
    margin-right: 1em; }
    .button-bar label:last-of-type {
      margin-right: 0; }
  .button-bar a {
    margin-right: 1em;
    text-transform: lowercase; }
    .button-bar a:last-of-type {
      margin-right: 0; }

#makeanico {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

#canvas {
  width: 100vw;
  height: 100vw;
  -ms-flex: 0 0 100vw;
      flex: 0 0 100vw; }
  #canvas th, #canvas td {
    width: 6.25vw; }
  #canvas th, #canvas .row-col {
    font-weight: normal;
    font-size: 8px; }
  @media screen and (min-aspect-ratio: 1 / 1) {
    #canvas {
      width: 100vh;
      height: 100vh;
      -ms-flex: 0 0 100vh;
          flex: 0 0 100vh; } }

#stage td {
  border-right: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0; }

fieldset, .fieldset {
  margin-bottom: 1em; }

#cell-grid > * {
  text-align: left; }

#stage input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  opacity: 0; }

#stage input[type="checkbox"] + label {
  text-indent: -99999em; }

#stage input[type="checkbox"]:checked + label {
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee; }

#stage td {
  position: relative; }
  #stage td.row-col {
    position: absolute; }
  #stage td:first-of-type {
    width: 1em; }

.flexible.unaligned {
  -ms-flex-pack: center;
      justify-content: center; }

.flexible.fieldset label[for*="rgb_slider_"] {
  -ms-flex: 0 0 3em;
      flex: 0 0 3em; }

.flexible.fieldset input[type="text"], .flexible.fieldset input[type="range"] {
  -ms-flex-positive: 1;
      flex-grow: 1; }

.flexible.fieldset > * {
  margin-right: 1em; }

.flexible.fieldset > *:last-child {
  margin-right: 0; }

.input-by-color .flexible {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

footer p:last-of-type {
  margin-bottom: 0; }

footer button {
  margin-right: 1em; }
  footer button:last-of-type {
    margin-right: 0; }

.subtle {
  font-size: .8em; }
  .subtle a {
    color: currentColor; }
    .subtle a:visited {
      color: currentColor; }

#cell-grid h3 {
  margin: .5em; }

#cell-grid__container {
  transition: border-color 420ms linear;
  font-size: .9em; }
  #cell-grid__container.dirty {
    border-width: 3px; }

.widget {
  margin-top: 1em; }
  .widget > .container {
    position: relative;
    max-width: 30em;
    -ms-flex-preferred-size: 30em;
        flex-basis: 30em; }

.export button {
  margin-right: 1em; }

.bottom-bar {
  padding-bottom: 1em; }
  @media screen and (min-width: 641px) {
    .bottom-bar {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .bottom-bar > * {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-positive: 0;
            flex-grow: 0;
        -ms-flex-negative: 1;
            flex-shrink: 1;
        -ms-flex-preferred-size: 20em;
            flex-basis: 20em;
        margin-right: 1em; }
        .bottom-bar > *:last-child {
          margin-right: 0; } }

label[for="filename__text"] {
  margin-right: 1em; }

footer {
  margin: 1em 0; }
  footer a {
    padding: 0 1em; }

body {
  padding-bottom: 1em; }

.flexible input[type="text"] {
  -ms-flex-positive: 1;
      flex-grow: 1; }

.widget.import {
  -ms-flex-preferred-size: 24em;
      flex-basis: 24em; }
  .widget.import button {
    font-size: 1em;
    background: whitesmoke;
    display: block; }
    .widget.import button:hover, .widget.import button:focus, .widget.import button:active {
      background: white; }
  .widget.import label[for="pic"] {
    margin-bottom: 1em;
    margin-right: 1em;
    display: inline-block; }
  .widget.import button {
    margin: 2em auto 0 auto; }

.widget.export > .container, .widget.import > .container {
  padding-bottom: 4em; }

.widget.export .button-bar, .widget.import .button-bar {
  position: absolute;
  bottom: 1em;
  left: 0;
  right: 0;
  padding: 0; }

#page-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
  #page-wrapper > * {
    width: 100vw; }

.canpx fieldset:last-child {
  margin-bottom: 0; }

.canpx footer {
  margin-top: 1em; }

/*# sourceMappingURL=main.css.map */