html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

#stage, table, #stage input[type="checkbox"], #stage table {
  width: 100%; }

.button-bar a, #stage input[type="checkbox"], .widget.import button, .widget.import label[for="pic"], .widget.import .svg-preview__svg {
  cursor: pointer; }

#stage, .svg-preview, #cell-grid, .unaligned, #cell-grid h3, .async-btns, .canpx footer {
  text-align: center; }

#stage input[type="checkbox"], #stage input[type="checkbox"] + label, .widget.export .button-bar, .widget.import .button-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

/*
http://www.phase2technology.com/blog/exploring-maps-in-sass-3-3/
*/
[a11y-hidden], #stage input[type="checkbox"] + label span {
  position: absolute;
  height: 1px;
  width: 1px;
  overflow: hidden;
  top: 0;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px); }

#makeanico, .flexible, #page-wrapper {
  display: -ms-flexbox;
  display: flex; }

.neat.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto; }
  .neat.container::after {
    clear: both;
    content: "";
    display: table; }

.container {
  padding: 1em; }

a.heavy[hidden].btn, .widget.import button.heavy[hidden] {
  display: none; }

#stage input[type="checkbox"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: transparent;
  opacity: 0; }

#stage input[type="checkbox"] + label {
  cursor: cell; }

#stage td, .widget > .container {
  position: relative; }

.balanced, .widget > .container, footer, .widget.import button {
  text-align: center; }

#start-over a:hover, #start-over a:focus, #start-over a:active {
  color: #c90005; }

.container {
  background: white;
  border: 1px solid gainsboro; }

#cell-grid > *, #stage td {
  background: white;
  max-width: 30em; }
  #cell-grid > * header p, #stage td header p {
    text-align: center; }

#stage, table, #stage input[type="checkbox"] {
  height: 100%; }

#stage input[type="checkbox"], #stage input[type="checkbox"] + label {
  z-index: 99999; }

#cell-grid > * {
  padding: .5em .5em 1em .5em; }

fieldset .fieldset:last-of-type, footer p:last-of-type, .canpx fieldset:last-child {
  margin-bottom: 0; }

.button-bar label, .button-bar a, .flexible.fieldset > *, footer button, .export button, label[for="filename__text"], .widget.import label[for="pic"] {
  margin-right: 1em; }

fieldset.rgb, .widget, .canpx footer {
  margin-top: 1em; }

.button-bar label:last-of-type, .button-bar a:last-of-type, .flexible.fieldset > *:last-child {
  margin-right: 0; }

#load-enhancements, #load-enhancements .balanced, fieldset, .fieldset, .widget.import label[for="pic"] {
  margin-bottom: 1em; }

.flexible.unaligned, .bottom-bar {
  -ms-flex-pack: center;
      justify-content: center; }

.flexible.fieldset input[type="text"], .flexible.fieldset input[type="range"], .flexible input[type="text"] {
  -ms-flex-positive: 1;
      flex-grow: 1; }

.bottom-bar, body {
  padding-bottom: 1em; }

a.heavy.btn, .widget.import button.heavy, .widget.import label[for="pic"] {
  display: inline-block; }

.subtle a, .subtle a:visited {
  color: currentColor; }

a.btn, .widget.import button {
  transition: all 240ms ease; }

fieldset {
  border: 1px solid gainsboro; }

.svg-preview svg, #cell-grid > * {
  margin: 0 auto; }

#stage input[type="checkbox"]:checked + label {
  box-shadow: 0 0 5px #51cbee;
  border: 1px solid #51cbee; }
  [data-focus="yes"] #stage input[type="checkbox"]:checked + label, #stage [data-focus="yes"] input[type="checkbox"]:checked + label {
    box-shadow: none !important;
    border-width: 4px; }

[hidden], [js-hidden="false"] {
  display: none !important; }

body {
  margin: 0;
  background: #f0f0f0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  /*&[data-typeface="system"] {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }*/ }

hr {
  border: none;
  border-top: 1px solid gainsboro; }

a.heavy.btn, .widget.import button.heavy {
  background: darkgreen;
  border-color: #004500;
  color: white; }

a.btn, .widget.import button {
  color: black;
  color: buttontext;
  background: white;
  padding: 0.125em 0.375em 0.1875em;
  border-width: 1px;
  border-radius: 0.25em;
  border-style: solid;
  border-color: silver; }
  a.heavy.btn:focus, .widget.import button.heavy:focus, a.heavy.btn:active, .widget.import button.heavy:active, a.heavy.btn:hover, .widget.import button.heavy:hover {
    background: #004500;
    border-color: #002700; }
  a.comfortable.btn, .widget.import button.comfortable, a.comforatbly.btn, .widget.import button.comforatbly {
    padding: .5em 1em; }

nav.button-bar {
  padding: 1em 0; }

a.btn {
  text-decoration: none; }

.download-as, .button-bar {
  font-size: 13px; }

.button-bar a {
  text-transform: lowercase; }

.hex, #makeanico, .bottom-bar, #page-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.hex datalist {
  margin-top: 1em;
  -ms-flex: 1 0 100%;
      flex: 1 0 100%; }

#makeanico {
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

#load-enhancements fieldset {
  margin: 1em auto; }

#canvas, #stage, table {
  min-width: 320px;
  min-height: 320px; }

#canvas {
  width: 100vw;
  height: 100vw;
  -ms-flex: 0 0 100vw;
      flex: 0 0 100vw; }
  #canvas th, #canvas td {
    width: 6.25vw; }
  #canvas th, #canvas .row-col {
    font-weight: normal;
    font-size: 8px; }
  @media screen and (min-aspect-ratio: 1 / 1) {
    #canvas {
      width: 100vh;
      height: 100vh;
      -ms-flex: 0 0 100vh;
          flex: 0 0 100vh; } }

#stage td {
  border: 1px solid #f0f0f0;
  border-top: none;
  border-left: none; }

[data-reducemotion="yes"] * {
  transition: none !important; }

#cell-grid > * {
  text-align: left; }

[data-icon] {
  width: 16px;
  height: 16px; }

#stage {
  /*.mini & {
    input[type="checkbox"]:checked + label {
      background:#51cbee;
    }
  }*/ }
  #stage td.row-col {
    position: absolute; }
  #stage td:first-of-type {
    width: 1em; }

.flexible.fieldset label[for*="rgb_slider_"] {
  -ms-flex: 0 0 3em;
      flex: 0 0 3em; }

.input-by-color .flexible {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

footer button:last-of-type {
  margin-right: 0; }

@media screen and (max-width: 640px) {
  footer.page-wrapper a {
    display: block;
    margin-bottom: 1em; } }

.subtle {
  font-size: .8em; }

#cell-grid h3 {
  margin: .5em; }

#cell-grid__container {
  transition: border-color 420ms linear;
  font-size: .9em; }
  #cell-grid__container.dirty {
    border-width: 3px; }

.widget > .container {
  max-width: 30em;
  -ms-flex-preferred-size: 30em;
      flex-basis: 30em; }

.export button[type="submit"] {
  margin: 1em; }

@media screen and (min-width: 641px) {
  .bottom-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center; }
    .bottom-bar > * {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-positive: 0;
          flex-grow: 0;
      -ms-flex-negative: 1;
          flex-shrink: 1;
      -ms-flex-preferred-size: 20em;
          flex-basis: 20em;
      margin-right: 1em; }
      .bottom-bar > *:last-child {
        margin-right: 0; } }

footer {
  margin: 1em 0; }
  footer a {
    padding: 0 1em; }

.widget.import {
  -ms-flex-preferred-size: 24em;
      flex-basis: 24em; }
  .widget.import button {
    font-size: 1em;
    background: whitesmoke;
    display: block; }
    .widget.import button:hover, .widget.import button:focus, .widget.import button:active {
      background: white; }
  .widget.import button {
    margin: 2em auto 0 auto; }

.widget.export > .container, .widget.import > .container {
  padding-bottom: 4em; }

.widget.export .button-bar, .widget.import .button-bar {
  top: auto;
  bottom: 1em;
  padding: 0; }

#page-wrapper {
  -ms-flex-direction: column-reverse;
      flex-direction: column-reverse; }
  @media screen and (min-width: 641px) {
    #page-wrapper > * {
      width: 100vw; } }

@media screen and (max-width: 640px) {
  .async-btns {
    display: block;
    padding-top: 1em; }
    .async-btns button {
      margin-bottom: 1em; } }
