<section id="cell-grid" class="single">
  <form class="container">
    <header>
      <h3>Selected Cells</h3>
      <p>
        Fill the selected cells above with the color you input&nbsp;below.
      </p>
    </header>
    <div class="canpx">
      <fieldset class="input-by-color">
        <legend>Input Color By:</legend>
        <div class="flexible">
          <div class="">
            <label for="input_color_by__text">Text:</label>
            <input type="radio" id="input_color_by__text" name="input_color_by" value="text" />
          </div>

          <div class="color option">
          </div>

          <div class="">
            <label for="input_color_by__rgb">RGB Slider:</label>
            <input type="radio" id="input_color_by__rgb" name="input_color_by" value="rgb" />
          </div>
        </div>
      </fieldset>
      <fieldset class="">
        <legend>Input Color By:</legend>
        <div>
          <div class="flexible fieldset">
            <label for="input_color_by__text">Text:</label>
            <input type="text" id="input_color_by__text" name="input_color_by" value="" />
          </div>

          <div class="colorpicker fieldset">
          </div>

          <hr>
          <fieldset class="rgb">
            <legend>RGB Slider:</legend>
            <div class="flexible fieldset">
              <label for="rgb_slider_r">Red:</label>
              <input type="range" min="0" max="255" step="1" id="rgb_slider_r" name="rgb_slider_r" value="" />
            </div>

            <div class="flexible fieldset">
              <label for="rgb_slider_r">Green:</label>
              <input type="range" min="0" max="255" step="1" id="rgb_slider_g" name="rgb_slider_g" value="" />
            </div>

            <div class="flexible fieldset">
              <label for="rgb_slider_r">Blue:</label>
              <input type="range" min="0" max="255" step="1" id="rgb_slider_b" name="rgb_slider_b" value="" />
            </div>
          </fieldset>
        </div>
      </fieldset>
      <footer>
        {{!<button type="reset">Reset</button>}}
        <button type="submit">Fill Selected Cells</button>
      </footer>
    </div>
  </form>
</section>
