@import "bourbon/bourbon";
@import "neat/neat";
@import "spec/tacular";

@import "global/global";

//@import "components/swatches";

[hidden] {
  display: none !important;
}

body {
  margin:0;
  background:rgb(240,240,240);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  /*&[data-typeface="system"] {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  }*/
}

fieldset {
  @extend %bordered;
  &.rgb {
    @extend %margin-top-1em;
  }
  .fieldset {
    &:last-of-type {
      @extend %bottom-less;
    }
  }
}

hr {
  border:none;
  border-top:1px solid rgb(220, 220, 220);
}

%heavy-btn {
  background:darkgreen;
  border-color:darken(darkgreen,6%);
  color:white;
}

%button {
  @extend %easy;
  //font-family:BlinkMacSystemFont, sans-serif;
  color:black;
  color: buttontext;
  background: white;
  padding: em(2px) em(6px) em(3px);
  border-width: 1px;
  border-radius:em(4px);
  border-style: solid;
  border-color:rgb(192, 192, 192);
  //border-color: buttonface;

  &.heavy {
    @extend %inline-block;
    @extend %heavy-btn;

    &[hidden] {
      @extend %hidden;
    }

    &:focus, &:active, &:hover {
      background:darken(darkgreen,6%);
      border-color:darken(darkgreen,12%);
    }
  }

  &.comfortable, &.comforatbly {
    padding: .5em 1em;
  }
}

#start-over {
  a {
    &:hover, &:focus, &:active {
      @extend %dangerous;
    }
  }
}

.balanced {
  @extend %balanced;
}

nav.button-bar {
  padding:1em 0;
}

a.btn {
  @extend %button;
  text-decoration:none;
}

.download-as, .button-bar {
  font-size:13px;
}

.button-bar {
  label {
    @extend %margin-right-1em;
    &:last-of-type {
      @extend %margin-right-0;
    }
  }

  a {
    @extend %clickable;
    @extend %margin-right-1em;
    text-transform:lowercase;

    &:last-of-type {
      @extend %margin-right-0;
    }
  }
}

[a11y-hidden] {
  @extend %accessibly-hidden;
}

%flex-wrap {
  flex-wrap:wrap;
}

%oblique {
  font-style: italic;
}

.hex {
  @extend %flex-wrap;
  datalist {
    margin-top:1em;
    flex: 1 0 100%;
  }
}

#makeanico {
  @extend %flexible;
  @extend %flex-wrap;
  align-items:center;
  justify-content: space-around;
}

#load-enhancements {
  @extend %margin-bottom-1em;
  .balanced {
    @extend %margin-bottom-1em;
    //@extend %oblique;
  }
  fieldset {
    margin:1em auto;
  }
}

%mini-canvas {
  min-width:320px;
  min-height:320px;
}

#canvas {
  @extend %mini-canvas;
  width:100vw;
  height:100vw;
  flex:0 0 100vw;
  //@extend %margin-center;

  th,td {
    width:6.25vw;
  }

  th,.row-col {
    font-weight:normal;
    font-size:8px;
  }

  @include media($square) {
    width:100vh;
    height:100vh;
    flex:0 0 100vh;
  }
}

#stage, table {
  @extend %full-width-full-height;
  @extend %mini-canvas;
}

#stage {
  @extend %unaligned; // text-align:center
  table {
    @extend %very-greedy;
  }
  td {
    @extend %cell;
    border:1px solid rgb(240,240,240);
    border-top:none;
    border-left:none;
  }
}

.svg-preview {
  @extend %unaligned; // text-align:center
  svg {
    @extend %margin-center;
  }
}

fieldset, .fieldset {
  @extend %margin-bottom-1em;
}

#cell-grid {
  @extend %unaligned; // text-align:center
  //margin:1em auto;
  > * {
    @extend %padded-cell;
    @extend %margin-center;
    text-align:left;
  }
}

[data-icon] {
  width:16px;
  height:16px;
}

#stage {
  input[type="checkbox"] {
    @extend %topMost;
    @extend %absolute-corners;
    @extend %clickable;
    @extend %full-width-full-height;
    @extend %no-apperance;
  }

  input[type="checkbox"] + label {
    @extend %topMost;
    @extend %absolute-corners;
    @extend %selectable;
    span {
      @extend %accessibly-hidden;
    }
  }

  input[type="checkbox"]:checked + label {
    //outline:3px solid rgb(255,0,255);
    @extend %checked-label;
    //filter: hue-rotate(90deg);
  }

  /*.mini & {
    input[type="checkbox"]:checked + label {
      background:#51cbee;
    }
  }*/

  td {
    @extend %relative;
    &.row-col {
      position:absolute;
    }
    &:first-of-type {
      width:1em;
    }
  }
}

.flexible {
  @extend %flexible;
  &.unaligned {
    @extend %justify-content-center;
  }
  &.fieldset {
    label[for*="rgb_slider_"] {
      flex:0 0 3em;
    }
    input[type="text"], input[type="range"] {
      @extend %flex-grow-1;
    }
    > * {
      @extend %margin-right-1em;
    }
    > *:last-child {
      @extend %margin-right-0;
    }
  }
}

.input-by-color {
  .flexible {
    justify-content: space-around;
  }
}

footer {
  p {
    &:last-of-type {
      @extend %bottom-less;
    }
  }
  button {
    @extend %margin-right-1em;
    &:last-of-type {
      margin-right:0;
    }
  }
}

.subtle {
  font-size:.8em;
  a {
    @extend %current-color;
    &:visited {
      @extend %current-color;
    }
  }
}

.unaligned {
  @extend %unaligned;
}

#cell-grid {
  h3 {
    @extend %unaligned; // text-align:center
    margin:.5em;
  }
}

#cell-grid__container {
  transition:border-color 420ms linear;
  font-size:.9em;
  &.dirty {
    border-width:3px;
  }
}

.neat.container {
  @extend %outer-container;
}

%widget {
  @extend %margin-top-1em;
  > .container {
    @extend %balanced;
    @extend %relative;
    max-width:30em;
    flex-basis:30em;
  }
}

.export {
  button {
    @extend %margin-right-1em;
  }
}

.bottom-bar {
  @extend %padding-bottom-1em;
  @extend %flex-wrap;
  @extend %justify-content-center;
  @include media($gtMobile) {
    display:flex;
    justify-content:center;

    > * {
      display: flex;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: 20em;

      margin-right:1em;
      &:last-child {
        margin-right:0;
      }
    }

  }
}

label[for="filename__text"] {
  @extend %margin-right-1em;
}

footer {
  @extend %balanced;
  margin:1em 0;
  a {
    padding:0 1em;
  }
}

body {
  @extend %padding-bottom-1em;
}

.flexible {
  input[type="text"] {
    @extend %flex-grow-1;
  }
}

.widget {
  @extend %widget;
  &.import {
    flex-basis:24em;
    button {
      @extend %easy;
      @extend %button;
      @extend %clickable;
      @extend %balanced;
      font-size:1em;
      background:rgb(245,245,245);
      &:hover, &:focus, &:active {
        background:white;
      }
      html & {
        //@extend %heavy-btn;
      }
      display:block;
    }
    label[for="pic"] {
      @extend %clickable;
      @extend %margin-bottom-1em;
      @extend %margin-right-1em;
      @extend %inline-block;
    }
    .svg-preview__svg {
      @extend %clickable;
    }
    button {
      margin:2em auto 0 auto;
    }
  }

  &.export, &.import {
    > .container {
      padding-bottom:4em;
    }
    .button-bar {
      @extend %absolute-corners;
      top:auto;
      bottom:1em;
      padding:0;
    }
  }
}

#page-wrapper {
  @extend %flexible;
  @extend %flex-wrap;
  flex-direction:column-reverse;
  > * {
    width:100vw;
  }
}

.container {
  @extend %bright-container;
}

.async-btns {
  @extend %unaligned;
  @include media($mobile) {
    display:block;
    padding-top:1em;
    button {
      //width:100%;
      margin-bottom:1em;
    }
  }
}

.canpx {
  fieldset:last-child {
    @extend %bottom-less;
  }
  footer {
    @extend %unaligned; // text-align:center
    @extend %margin-top-1em;
  }
}
